/* LOGIN MASK STYLE */

.container {
    position:relative;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
}

.loginMask {
    position:relative;
    top:10px;
    margin:auto auto;
    width:300px;
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

/* LOGIN MASK STYLE */

/* CHANNEL CHOOSER */
.channelChooser {
    position:relative;
    top:50px;
    height:auto;
    width:400px;
    margin:auto auto;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.form-channel {
    padding: 15px;
}
/* CHANNEL CHOOSER */

/* CHANNEL CLIENT */
.client {
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
}

.naviChoose {
    position:absolute;
    top:0px;
    left:0px;
    height:50px;
    width:100%;
}

.bodyChat {
    position:absolute;
    top:50px;
    left:0px;
    height:90%;
    width:100%;
}

.topic {
    position:absolute;
    top:0px;
    left:0px;
    height:5%;
    min-height:25px;
    width:100%;
    background-color:#d3d3d3;   
    text-align:center;
}

.bottomChannel {
    position:absolute;
    top:25px;
    left:0px;
    height:95%;
    width:100%;
}

.nickList {
    position:absolute;
    float:left;
    top:5px;
    left:80%;
    width:20%;
    height:99%;
}

.contentChat {
    position:absolute;
    top:5px;
    left:0px;
    width:80%;
    height:99%;
}

.input {
    position:absolute;
    bottom:0px;
    width:100%;
}
/* CHANNEL CLIENT */
